[submodule "linux-um-nommu"]
	path = linux-um-nommu
	url = https://github.com/nabla-containers/linux-um-nommu.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "musl-libc"]
	path = musl-libc
	url = https://github.com/nabla-containers/musl-libc.git
